<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDU2SaveGameManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TDU2SaveGameManager.Properties.Settings>
            <setting name="MainWindowOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BGOpacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultPath" serializeAs="String">
                <value />
            </setting>
            <setting name="backupFolderPath" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="defaultSaveFolder" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="selectedTimeFormat" serializeAs="String">
                <value>yyyy.MM.dd_HH.mm</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.2.0.0</value>
            </setting>
        </TDU2SaveGameManager.Properties.Settings>
    </userSettings>
</configuration>