<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TDU2SaveGameManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TDU2SaveGameManager.Properties.Settings>
            <setting name="OpacityMainWindow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OpacityBackground" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="defaultBackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="userSelectedBackupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultSaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="userSelectedTimeFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="version" serializeAs="String">
                <value>1.2.1.0</value>
            </setting>
            <setting name="runTimes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="userSelectedSaveFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultTimeFormat" serializeAs="String">
                <value>yyyy.MM.dd_HH.mm</value>
            </setting>
        </TDU2SaveGameManager.Properties.Settings>
    </userSettings>
</configuration>